@font-face {
  font-family: "iconfont"; /* Project id 2902633 */
  src: url('iconfont.woff2?t=1635506914859') format('woff2'),
       url('iconfont.woff?t=1635506914859') format('woff'),
       url('iconfont.ttf?t=1635506914859') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-fanhui3:before {
  content: "\e602";
}
.icon-fanhui3{
  font-size: 48px;
  margin-left: 5px;
}
.icon-yijiangoumai:before {
  content: "\e608";
}

.icon-erweima:before {
  content: "\e7ad";
}
.icon-erweima{
  font-size: 48px;
  margin-left: 5px;
}
.icon-shouye:before {
  content: "\e618";
}

.icon-shangpin:before {
  content: "\e67b";
}

.icon-zaixiankefu:before {
  content: "\e62b";
}
.icon-zaixiankefu{
  font-size: 50px;
  margin-left: 5px;
}
.icon-jiankongshexiangtou:before {
  content: "\e901";
}

.icon-denglu:before {
  content: "\e67c";
}
.icon-denglu{
  font-size: 35px;
}

.icon-duigou:before {
  content: "\e627";
}

.icon-weixiufuwu:before {
  content: "\ead5";
}

.icon-jinggao:before {
  content: "\e603";
}

.icon-goumai:before {
  content: "\e636";
}
.icon-goumai{
  font-size: 15px;
}
.icon-jingdong:before {
  content: "\e63d";
}

